-# Title:
-# =@work.title
-# %br
-# Release:
-# =@work.release
-# %br
-# Director:
-# =link_to @work.director.name, director_path(@work.director)
-# %br
-# Starring:
-# =@work.starring
-# %br
-# Description:
-# =@work.description
-# %br
-# %br
-#
-# =link_to "Edit information", edit_work_path(@work)
-# %br
-# =link_to "Back to index", works_path
-# %br
-# =link_to "Delete work", work_path(@work), method: :delete, data:{confirm:"Are you sure to delete?"}

-# %br
-# =link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure to delete?"}
%main#main
  / ======= Portfolio Details =======
  #portfolio-details.portfolio-details
    .container
      .row
        .col-lg-8
          %h2.portfolio-title
          .owl-carousel.portfolio-details-carousel
            -# %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-details-1.jpg"}/
            -if @work.image.present?
              =image_tag @work.image_url, class: 'img-fluid'
            -else
              =image_tag '/img/default_work.png', class: 'show_image'
            -# %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-details-2.jpg"}/
            -# %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-details-3.jpg"}/
        .col-lg-4.portfolio-info
          %h3=@work.title
          %ul
            %li
              %strong="Release: "
              =@work.release
            %li
              %strong="Director: "
              =link_to @work.director.name, director_path(@work.director)
            %li
              %strong="Starring: "
              =@work.starring
            %li
              %strong="Genre: "
              -@work.genres.each do |genre|
                .badge.badge-dark
                  =link_to genre.name, genre_path(id: genre.id, anchor:'portfolio')
            -# %li
            -#   %strong="Reviews: "
            -#   -@work.reviews.each do |review|
            -#     ="#{review.rate}: #{review.comment}/#{review.user.profile.first_name}"
          %p=@work.description
          =link_to "Back to Index", works_path(anchor: 'portfolio'), class: 'btn submitbtn'
          -if user_signed_in?
            -if @work.my_review(current_user).present?
              =link_to "Edit review", edit_login_work_review_path(work_id: @work, id: @work.my_review(current_user).id), class: 'btn submitbtn'
            -else
              =link_to "Post review", new_login_work_review_path(@work), class: 'btn submitbtn'
      -if user_signed_in?
        .container
          =link_to "Edit information", edit_login_work_path(@work), class: 'btn submitbtn'
          =link_to "Delete work", login_work_path(@work), method: :delete, data:{confirm:"Are you sure to delete?"}, class: 'btn submitbtn'

    -if @work.reviews.present?
      .container
        .review-section.section-show
          .testimonials.container
            .section-title
              %h2 Reviews
            .owl-carousel.testimonials-carousel
              -@work.reviews.each do |review|
                .testimonial-item
                  %p
                    %i.bx.bxs-quote-alt-left.quote-icon-left
                    =review.comment
                    %i.bx.bxs-quote-alt-right.quote-icon-right
                  %p
                    -(1..review.rate).each do |x|
                      ★
                  =image_tag review.user.profile.image_url(:thumb), class: 'testimonial-img'
                  %h4="#{review.user.profile.first_name} #{review.user.profile.last_name}"
          .counts.container
            .row
              .col-lg-3.col-md-6
                .count-box
                  %i.icofont-slightly-smile
                  %span{"data-toggle" => "counter-up"}=@work.avarage_rate
                  %p Average
              .col-lg-3.col-md-6
                .count-box
                  %i.icofont-listing-number
                  %span{"data-toggle" => "counter-up"}=@work.reviews.length
                  %p Total Review
              .col-lg-3.col-md-6
                .count-box
                  %i.icofont-laughing
                  %span{"data-toggle" => "counter-up"}=@work.rate_max
                  %p Maximum Rate
              .col-lg-3.col-md-6
                .count-box
                  %i.icofont-crying
                  %span{"data-toggle" => "counter-up"}=@work.rate_min
                  %p Minimum Rate





        -# .testimonial-item
        -#   %p
        -#     %i.bx.bxs-quote-alt-left.quote-icon-left
        -#     Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
        -#     %i.bx.bxs-quote-alt-right.quote-icon-right
        -#   %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-2.jpg"}/
        -#   %h3 Sara Wilsson
        -#   %h4 Designer
        -# .testimonial-item
        -#   %p
        -#     %i.bx.bxs-quote-alt-left.quote-icon-left
        -#     Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
        -#     %i.bx.bxs-quote-alt-right.quote-icon-right
        -#   %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-3.jpg"}/
        -#   %h3 Jena Karlis
        -#   %h4 Store Owner
        -# .testimonial-item
        -#   %p
        -#     %i.bx.bxs-quote-alt-left.quote-icon-left
        -#     Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
        -#     %i.bx.bxs-quote-alt-right.quote-icon-right
        -#   %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-4.jpg"}/
        -#   %h3 Matt Brandon
        -#   %h4 Freelancer
        -# .testimonial-item
        -#   %p
        -#     %i.bx.bxs-quote-alt-left.quote-icon-left
        -#     Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
        -#     %i.bx.bxs-quote-alt-right.quote-icon-right
        -#   %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-5.jpg"}/
        -#   %h3 John Larson
        -#   %h4 Entrepreneur
