/ ======= About Section =======
%section#about.about.section-show
  / ======= About Me =======
  .about-me.container
    .section-title
      %h2 My Page
      %p My Page
    -if @profile.present?
      .row
        .col-lg-4{"data-aos" => "fade-right"}
          =image_tag @profile.image_url(:thumb), class: 'img-fluid'
        .col-lg-8.pt-4.pt-lg-0.content{"data-aos" => "fade-left"}
          %h3="#{@profile.first_name} #{@profile.last_name}"
          %p.font-italic
          .contact
            .container
              .row
                .col-md-12.d-flex.align-items-stretch
                  .info-box
                    %i.bx.bx-map
                    %h3 My Address
                    %p=@profile.from
                .col-md-12.mt-4.d-flex.align-items-stretch
                  .info-box
                    %i.bx.bx-share-alt
                    %h3 Social Profiles
                    .social-links
                      =link_to @profile.twitter do
                        %i.fa.fa-twitter
                      =link_to @profile.instagram do
                        %i.fa.fa-instagram
            .container
              =link_to "Profile Detail", login_profile_path(@profile), class: 'btn submitbtn'
              =link_to "Edit Profile", edit_login_profile_path(@profile), class: 'btn submitbtn'
              =link_to "Delete Profile", login_profile_path(@profile), method: :delete, data:{confirm:"Are you sure to delete?"}, class: 'btn submitbtn'

    -else
      =link_to "Please create your profile", new_login_profile_path, class: 'btn submitbtn'

    -if @reviews.present?
      .testimonials.container
        .section-title
          %h2 Reviews
        .owl-carousel.testimonials-carousel
          -@reviews.each do |review|
            .testimonial-item
              %p
                %i.bx.bxs-quote-alt-left.quote-icon-left
                ="#{review.comment}"
                %i.bx.bxs-quote-alt-right.quote-icon-right
                %br
                -(1..review.rate).each do |x|
                  ★
              .container
                =link_to work_path(review.work), class: 'mypage' do
                  %h3=review.work.title
                .mypage
                  %h4=review.updated_at.strftime('%-d %b %Y')
                =link_to edit_login_work_review_path(work_id: review.work, id: review.id) do
                  %i.fa.fa-edit
                =link_to login_work_review_path(work_id: review.work, id: review.id), method: :delete, data:{confirm:"Are you sure to delete?"} do
                  %i.fa.fa-trash
    -else
      .testimonials.container
        .section-title
          %h2 No Reviews
      -#   %h3="No reviews"
        -# -if current_user.profile.try(:id).present?
-#   =link_to "Profile", login_profile_path(current_user.profile)
-# -else
-#   =link_to "Profile", new_login_profile_path

-# .about-me.container
-#   .section-title
-#     %h2 Reviews
-#     %p Your Reviews
-#   .row
-#     .col-lg-8.pt-4.pt-lg-0.content{"data-aos" => "fade-left"}
-#       %h3="#{@profile.first_name} #{@profile.last_name}"
-#       %p.font-italic
-#       .contact
-#         .container
-#           .row
-#             .col-md-12.d-flex.align-items-stretch
-#               .info-box
-#                 %i.bx.bx-map
-#                 %h3 My Address
-#                 %p=@profile.from
